<%- include ../partials/header.ejs %>

<!-- This is where the tasks will render -->
<div>
  <ul id="list-output">
    
  </ul>
</div>

<!-- Closure for Container -->
</div>


<%- include ../partials/footer.ejs %>
