<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="style.css">
    <title>ToDoLists with Asana</title>
  </head>
  <body>

  <!-- Top Navigation bar with page title, Search form and Asana logo -->
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a class="navbar-brand">Powered By: <img src="images/Logo-Horizontal-Color.png" alt="[asana logo goes here]" id="logo"></a>
    <div class="form-inline">
      <input id="form"class="form-control mr-sm-2" placeholder="Enter ProjectID">
      <button id="get-btn"class="btn btn-outline-light my-2 my-sm-0 purple">Get Tasks</button>
    </div>
  </nav>

  <!-- Main container -->
    <div class="container-fluid">
      <!-- Secondary header with To Do List title -->
      <div id="title-row"class="row">
        <div class="col-4">
        </div>

        <div class="col-8 title">

          <div class="row">
            <div class="col">
              <h3 style="padding-top: 5px; color: white;">To Do List</h3>
            </div>
          </div>

        </div>
      </div>
