body {
  background: url(images/beach.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
}

.container {
  background-color: lightblue;
}

.nav-bar {
  border: black 0.5px solid;
}

.row {
  align-items: center;
}

.title {
  text-align: right;
}

.red {
  background-color: red;
}
