body {
  background: url(images/beach.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
}

#logo {
  height: 30px;
  width: 150px;
}

.container-fluid {
  background-color: lightblue;
  border: white 0.5px solid;
}

.row {
  align-items: center;
}

.title {
  text-align: right;
}

.red {
  background-color: red;
}
