body {
  background: url(images/beach.jpg) no-repeat center center fixed;
  background-size: cover;
  padding: 50px;
  font-family: 'Raleway', sans-serif;
}

/*Asana logo styling*/
#logo {
  height: 20px;
  width: 100px;
}

.purple {
  background-color: #6a67ce; /* Asana dark-purple */
}

.purple:hover {
  background-color: #fc636b; /* Asana light-red */
  color: white;
}

/* Container Styling */
.container-fluid {
  background-color: #1aafd0;
  border: white 0.5px solid;
}

.row {
  align-items: center;
}

.title {
  text-align: right;
}
